article
	padding-left $navBarWidth
	color $mainTextColor
	position relative


.without-navs article
	padding-left 0

article,
section.content
	width 100%
	height auto
	float left
	position relative
	box-sizing border-box
	min-height calc(100vh - 60px)

	.home &
		height calc(100vh - 60px)

article section.content
	border-top-left-radius $mainRadiusSize
	background $contentBackgroundColor

	.home &
		border-top-left-radius 0

	.work &
		height auto
		min-height calc(100vh - 60px)

	.about &
		overflow hidden
	
	@media screen and (min-width: $mqDesktopMaxWidth)
		&
			border-top-right-radius $mainRadiusSize

	a,
	.interactive
		color $linkOnContentColor

		&:hover,
		&:visited:hover
			color $linkHoverOnContentColor

		&:active,
		&:visited:active
			color $linkActiveOnContentColor

		&:focus,
		&.active:focus,
		&:visited:focus,
		&:hover:focus
			background $linkFocusOnContentColor
