header
	width 100%
	height $headerHeight
	float left
	box-sizing border-box

	h1
		margin-top 15px
		margin-left $navBarWidth

	a.logo
		color $linkOnMainColor
		font-size $logoFontSize
		font-weight $logoFontWeight
		line-height $logoLineHeight
