nav
	top 0
	left 0
	position absolute
	height 100%
	width $navBarWidth

	.maxWidthReached.about &
		position absolute
		top 0

	a,
	li
		width 120px
		height $navBarWidth

	a
		padding 15px 0
		text-align center
		box-sizing border-box

	ul,
	li,
	a
		display block

	ul
		position absolute
		top 0
		left 0
		height 100%
		width 100%

		li
			transform-origin 0 0

			&:nth-child(1)
				transform rotate(-90deg) translateX(-360px)

			&:nth-child(2)
				transform rotate(-90deg) translateX(-180px)

			&:nth-child(3)
				transform rotate(-90deg) translateX(-0px)

