$bulletWidth = 8px

.thumbnails-bullet-nav
	position absolute
	right 20px
	top calc(50vh - 96px)
	width $bulletWidth
	height auto
	transform translateY(-100%)

	.thumbnails-bullet
		width $bulletWidth
		height $bulletWidth
		border-radius 50%
		box-sizing border-box
		border 1px solid white
		box-shadow 0 0 0 1px rgba(black, .2), inset 0 0 0 2px rgba(black, .2)
		margin-top $bulletWidth + $bulletWidth
		transition all $slowTransition $smoothTransitionEase
		background-color none
		cursor pointer

		&:hover
			border-color $linkHoverOnContentColor
			background-color $linkHoverOnContentColor

		&:focus
			border-color $linkFocusOnContentColor
			background-color $linkFocusOnContentColor

		&.active
			border-color $secondary
			background-color $secondary
			box-shadow none
