.about-picture,
.about-content {
  height: auto;
  float: left;
}
.about-content {
  width: 370px;
}
.about-content h1 p,
.about-content h3 p {
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}
@media (max-width: 960px) {
  .about-content {
    width: 100%;
    box-sizing: border-box;
  }
}
.about-picture {
  width: 50%;
  padding: 0;
  margin-top: -40px;
  box-sizing: border-box;
}
@media (max-width: 960px) {
  .about-picture {
    width: 100%;
  }
}
.about-picture .img,
.about-picture .about-form {
  pointer-events: none;
  position: absolute;
}
.about-picture .img {
  width: 100%;
  height: 100%;
  float: left;
  background-size: cover;
  width: 45%;
  height: 0;
  padding-bottom: 45%;
  top: -40px;
  right: -40px;
  border-radius: 50%;
  overflow: hidden;
  border: 20px solid #fff;
}
.about-picture .img img {
  display: block;
  width: 100%;
  height: auto;
}
@media (max-width: 960px) {
  .about-picture {
    padding: 0;
    margin-top: 0;
  }
  .about-picture .img {
    position: static;
    border-radius: 0;
    width: 100%;
    padding-bottom: 75%;
    border: none;
  }
  .about-picture .about-forms {
    display: none;
  }
}
.about-picture .image-form {
  position: relative;
  z-index: 2;
}
.about-picture .about-forms {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
}
.about-picture .about-forms > div {
  position: relative;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}
.about-picture .about-form {
  transform: translate(-50%, -50%);
}
.about-picture .about-form:nth-child(2) {
  animation-delay: 9s;
}
.about-picture .about-form:nth-child(3) {
  animation-delay: 3s;
}
.about-picture .about-form:nth-child(4) {
  animation-duration: 22s;
}
.about-picture .about-form:nth-child(5) {
  animation-duration: 30s;
  animation-delay: 10s;
}
.about-picture .about-form:nth-child(6) {
  animation-delay: 11s;
  animation-direction: reverse;
}
.about-content {
  padding: 10%;
}
.about-content h1 {
  font-size: 24px;
}
.about-content h1,
.about-content h2,
.about-content h3 {
  margin-bottom: 24px;
}
.about-content p {
  margin-bottom: 14px;
  font-size: 80%;
}
.about-content .about-text {
  margin-bottom: 40px;
}
@media (max-width: 960px) {
  .about-content .btn {
    padding: 8px 11px 9px;
    display: block;
    text-align: center;
  }
}
