html,
body,
#root,
main.website-main {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 100vh;
	min-height: calc(var(--vh, 1vh) * 100);
	min-width: 320px;
	margin: 0 auto;
	-webkit-overflow-scrolling: touch;
}
body {
	--white: #fff;
	--brand: #00f;
	--brandAlt: var(--brandAlt, #f00);
	--brandHover: #00c;
	--brandActive: #66f;
	--brandFocus: #33f;
	--brandText: #09090c;

	font-family: 'HKGrotesk', 'Akzident Grotesk', Arial, sans-serif;
	font-size: 20px;
	font-weight: 300;
	line-height: 25px;
	-webkit-font-smoothing: antialiased;
	color: var(--brandText, #000030);
	background: var(--brand, #00f);
	transition: background 400ms cubic-bezier(0.19, 1, 0.22, 1);
}
html,
body {
	overflow-x: hidden;
}
body.work {
	background: var(--white, #fff);
}

body.stuby-and-fischer {
	--brand: #293b51;
	--brandHover: #455a76;
	--brandActive: #293b51;
	--brandFocus: #e6e6ff;
}
main.website-main h1,
main.website-main h2 {
	font-size: 24px;
	font-weight: 400;
	line-height: 28px;
}
main.website-main h3 {
	font-size: 18px;
	line-height: 21.6px;
}
main.website-main h4 {
	font-size: 16px;
	line-height: 21.6px;
}
main.website-main h5 {
	font-size: 15px;
	line-height: 20.6px;
}
main.website-main h6 {
	font-size: 14px;
	line-height: 19.6px;
}
main.website-main h3,
main.website-main h4,
main.website-main h5,
main.website-main h6 {
	font-weight: 300;
}
@media (max-width: 600px) {
	main.website-main h2 {
		font-size: 18px;
		line-height: 18px;
	}
	main.website-main h3 {
		font-size: 16px;
	}
}
main.website-main ul,
main.website-main li {
	list-style: none;
}
main.website-main a,
main.website-main a:visited,
main.website-main .interactive {
	cursor: pointer;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	text-decoration: none;
	transition: color 100ms ease-out;
}
main.website-main a:hover,
main.website-main a:visited:hover,
.interactive:hover {
	color: #ccf;
}
main.website-main a:active,
main.website-main a:visited:active,
main.website-main .interactive:active {
	color: #99f;
}
main.website-main a:hover:not(.active),
main.website-main a:visited:hover:not(.active),
main.website-main .interactive:hover:not(.active),
main.website-main a:active:not(.active),
main.website-main a:visited:active:not(.active),
main.website-main .interactive:active:not(.active) {
	text-decoration: underline;
}
main.website-main a:focus-visible,
main.website-main a:visited:focus-visible,
main.website-main .interactive:focus-visible,
main.website-main a:visited:visited:focus-visible,
main.website-main .interactive:visited:focus-visible,
main.website-main a:hover:focus-visible,
main.website-main a:visited:hover:focus-visible,
main.website-main .interactive:hover:focus-visible {
	outline: none;
	border-radius: 6px;
	background: var(--brandFocus, #33f);
	color: var(--white, #fff);
	text-decoration-color: var(--white, #fff);
	text-decoration: overline;
}
main.website-main a.empty-link,
main.website-main a:visited.empty-link,
main.website-main .interactive.empty-link {
	pointer-events: none;
}
nav.main-nav li a {
	font-size: 22px;
	font-weight: 400;
	line-height: 22px;
	text-transform: lowercase;
	color: var(--white, #fff);
}
@media screen and (min-width: 1280px) {
	nav.main-nav li a {
		border-radius: 0 6px 6px 0;
	}
}
nav.main-nav li a.active,
nav.main-nav li a.active:hover,
nav.main-nav li a.active:active,
nav.main-nav li a.active:visited {
	background: var(--white, #fff);
	color: var(--brand, #00f);
	cursor: default;
}
nav.main-nav li a.active:focus-visible,
nav.main-nav li a.active:hover:focus-visible,
nav.main-nav li a.active:active:focus-visible,
nav.main-nav li a.active:visited:focus-visible {
	background: var(--brandFocus, #e6e6ff);
}
main.website-main {
	box-sizing: border-box;
	position: relative;
	margin: 0 auto;
	max-width: 1280px;
}
main.website-main.home {
	overflow: hidden;
}
main.website-main.work {
	max-width: initial;
}
.maxWidthReached main.website-main {
	margin: 0 auto;
}
@media (min-width: 1280px) {
	body.about {
		overflow: hidden;
	}
}
body.works {
	overflow: hidden;
}
.btn {
	border: 1px solid var(--brand, #00f);
	border-radius: 6px;
	padding: 10px 15px 13px;
	margin: 0 10px 10px 0;
	white-space: nowrap;
	font-size: 16px;
}
img {
	transition: opacity 400ms cubic-bezier(0.19, 1, 0.22, 1);
}
img.loading {
	opacity: 0;
}
img.loaded {
	opacity: 1;
}
.error-page {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 480px;
	background: var(--white, #fff);
	box-sizing: border-box;
	box-shadow: 0 500px 0 0 var(--white, #fff);
}
.error-page .error-title {
	text-align: center;
	margin-top: 100px;
	margin-top: 45vh;
	transform: translateY(-50%);
}
.error-page .error-title h1,
.error-page .error-title h2 {
	box-sizing: border-box;
	padding: 0 30px;
}
.error-page .error-title h1 {
	font-size: 42px;
	line-height: 42px;
	margin: 20px 0;
}
.error-page .error-title h2 {
	font-weight: 300;
}
.error-page .error-title .error-logo {
	font-weight: bold;
}
header.main-header {
	width: 100%;
	height: 60px;
	float: left;
	box-sizing: border-box;
}
header.main-header h1 {
	margin-top: 15px;
	margin-left: 60px;
}
header.main-header a.logo {
	color: var(--white, #fff);
	font-size: 24px;
	font-weight: 400;
	line-height: 24px;
}
nav.main-nav {
	top: 0;
	left: 0;
	position: sticky;
	height: 100%;
	flex-shrink: 0;
}
.maxWidthReached.about nav.main-nav {
	position: sticky;
	top: 0;
}
nav.main-nav a {
	text-align: center;
	box-sizing: border-box;
}
nav.main-nav ul,
nav.main-nav li,
nav.main-nav a {
	display: block;
}
nav.main-nav ul {
	position: sticky;
	top: 0;
	left: 0;
	height: 100%;
	min-width: 60px;
	display: flex;
	flex-direction: row;
	writing-mode: vertical-lr;
	text-orientation: sideways-right;
	align-items: stretch;
}
nav.main-nav ul li {
	white-space: nowrap;
	display: flex;
	transform: scale(-1, -1);
}
nav.main-nav ul li a {
	display: flex;
	align-items: center;
	place-content: center;
	padding: 16px;
}
@media screen and (min-height: 600px) {
	nav.main-nav ul li a {
		min-height: 120px;
		padding: 24px 16px;
	}
}
nav.main-nav ul li a span {
	display: inline-block;
	margin-left: 6px;
}
nav.main-nav ul li.stuby-and-fischer a span {
	margin-left: -12px;
}
nav.main-nav ul li.stuby-and-fischer a {
	border-left: 8px solid var(--white, #fff);
	border-image: url(/img/border-dotted-square-white.svg) 25% repeat;
	padding-right: 8px;
}
nav.main-nav ul li.stuby-and-fischer a.active {
	border-image: url(/img/border-dotted-square-red.svg) 25% repeat;
}
nav.main-nav ul li.stuby-and-fischer .lg {
	display: none;
}
@media screen and (min-height: 720px) {
	nav.main-nav ul li.stuby-and-fischer a span.lg {
		display: inline;
	}
	nav.main-nav ul li.stuby-and-fischer a span.sm {
		display: none;
	}
}

article {
	color: var(--brandText, #000030);
	position: relative;
	display: flex;
}
article,
section.content {
	width: 100%;
	height: auto;
	float: left;
	position: relative;
	box-sizing: border-box;
	min-height: calc(100vh - 60px);
	min-height: calc((var(--vh, 1vh) * 100) - 60px);
}
.home article,
.home section.content {
	height: calc(100vh - 172px);
	height: calc((var(--vh, 1vh) * 100) - 172px);
}
article section.content {
	border-top-left-radius: 6px;
	background: var(--white, #fff);
}
.about article section.content {
	border-top-left-radius: 0;
}
.work article section.content {
	height: auto;
	min-height: calc(100vh - 172px);
	min-height: calc((var(--vh, 1vh) * 100) - 172px);
	border-radius: 0;
}
@media screen and (max-width: 960px) {
	.about article section.content {
		overflow: hidden;
	}
}
@media screen and (min-width: 1280px) {
	article section.content {
		border-top-right-radius: 6px;
	}
}
article section.content a,
article section.content .interactive {
	color: var(--brand, #00f);
}
article section.content a:hover,
article section.content .interactive:hover,
article section.content a:visited:hover,
article section.content .interactive:visited:hover {
	color: var(--brandHover, #00c);
}
article section.content a:active,
article section.content .interactive:active,
article section.content a:visited:active,
article section.content .interactive:visited:active {
	color: var(--brandActive, #66f);
}
article section.content a:focus-visible,
article section.content .interactive:focus-visible,
article section.content a.active:focus-visible,
article section.content .interactive.active:focus-visible,
article section.content a:visited:focus-visible,
article section.content .interactive:visited:focus-visible,
article section.content a:hover:focus-visible,
article section.content .interactive:hover:focus-visible {
	background: var(--brandFocus, #e6e6ff);
}
.svg-icon {
	width: 25px;
	height: 25px;
	fill: currentColor;
}
