@font-face {
	font-family: 'HKGrotesk';
	src: url('/fonts/hkgrotesk-bold.eot?v=123');
	src:
		url('/fonts/hkgrotesk-bold.eot#iefix?v=123') format('embedded-opentype'),
		url('/fonts/hkgrotesk-bold.woff2?v=123') format('woff2'),
		url('/fonts/hkgrotesk-bold.woff?v=123') format('woff'),
		url('/fonts/hkgrotesk-bold.ttf?v=123') format('truetype'),
		url('/fonts/hkgrotesk-bold.svg#HKGrotesk?v=123') format('svg');
	font-weight: 600;
	font-display: swap;
}
@font-face {
	font-family: 'HKGrotesk';
	src: url('/fonts/hkgrotesk-light.eot?v=123');
	src:
		url('/fonts/hkgrotesk-light.eot#iefix?v=123') format('embedded-opentype'),
		url('/fonts/hkgrotesk-light.woff2?v=123') format('woff2'),
		url('/fonts/hkgrotesk-light.woff?v=123') format('woff'),
		url('/fonts/hkgrotesk-light.ttf?v=123') format('truetype'),
		url('/fonts/hkgrotesk-light.svg#HKGrotesk?v=123') format('svg');
	font-weight: 300;
	font-display: swap;
}
@font-face {
	font-family: 'HKGrotesk';
	src: url('/fonts/hkgrotesk-medium.eot?v=123');
	src:
		url('/fonts/hkgrotesk-medium.eot#iefix?v=123') format('embedded-opentype'),
		url('/fonts/hkgrotesk-medium.woff2?v=123') format('woff2'),
		url('/fonts/hkgrotesk-medium.woff?v=123') format('woff'),
		url('/fonts/hkgrotesk-medium.ttf?v=123') format('truetype'),
		url('/fonts/hkgrotesk-medium.svg#HKGrotesk?v=123') format('svg');
	font-weight: 500;
	font-display: swap;
}
@font-face {
	font-family: 'HKGrotesk';
	src: url('/fonts/hkgrotesk-regular.eot?v=123');
	src:
		url('/fonts/hkgrotesk-regular.eot#iefix?v=123') format('embedded-opentype'),
		url('/fonts/hkgrotesk-regular.woff2?v=123') format('woff2'),
		url('/fonts/hkgrotesk-regular.woff?v=123') format('woff'),
		url('/fonts/hkgrotesk-regular.ttf?v=123') format('truetype'),
		url('/fonts/hkgrotesk-regular.svg#HKGrotesk?v=123') format('svg');
	font-weight: 400;
	font-display: swap;
}
