/* autoprefixer grid: autoplace */
.stuby-and-fischer {
	--grid-size: min(((1220px - 16vmin) / 7), (80vw / 7));
}

.stuby-and-fischer .content {
	overflow-x: hidden;
	padding-bottom: 8vmin;
	border-top-right-radius: 0;
}

.stuby-and-fischer .intro {
	display: grid;
	grid-template-columns: 1fr;
	margin-bottom: 8vmin;
}

.stuby-and-fischer .intro-picture {
	order: -1;
	position: relative;
	min-height: 65vw;
	background: var(--loadingplaceholder, #e6e6fe);
}

@media screen and (min-width: 740px) {
	.stuby-and-fischer .intro-picture {
		min-height: 100%;
	}
}

.stuby-and-fischer .intro-picture > img {
	width: calc(100% + 8vmin);
	height: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	aspect-ratio: 3 / 2;
	object-fit: cover;
	object-position: center;
}

.stuby-and-fischer .intro-content {
	padding: 8vmin;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.stuby-and-fischer .intro-button-container {
	display: flex;
	gap: 16px;
}

.stuby-and-fischer .intro-text,
.stuby-and-fischer .intro-text > .frontmatter-markdown {
	display: flex;
	flex-direction: column;
	gap: 14px;
	font-size: 16px;
}

@media screen and (min-width: 740px) {
	.stuby-and-fischer .intro {
		grid-template-columns: 3fr 2fr;
	}
	.stuby-and-fischer .intro-picture {
		order: 1;
		grid-column: -4 / span 4;
		box-shadow: 200px 0 0 0 var(--loadingplaceholder, #e6e6fe);
	}
}

@media screen and (min-width: 960px) {
	.stuby-and-fischer .intro {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (min-width: 1280px) {
	.stuby-and-fischer .intro {
		grid-template-columns: 5fr 4fr;
	}
}

.stuby-and-fischer .project {
	display: flex;
	flex-direction: column;
	padding: 8vmin;
	position: relative;
	height: auto;
}

.stuby-and-fischer .project-text h2 {
	font-size: 20px;
	line-height: 100%;
}
.stuby-and-fischer .project-text p {
	font-size: 14px;
	line-height: 120%;
}

.stuby-and-fischer .project-text footer {
	display: flex;
	gap: 8px;
	margin-top: 8px;
}

.stuby-and-fischer .project-image {
	aspect-ratio: var(--aspectratio, unset);
	background: var(--loadingplaceholder, #e6e6fe);
	width: 100%;
	margin-top: 6vmin;
}

@media screen and (min-width: 740px) {
	.stuby-and-fischer .intro,
	.stuby-and-fischer .project {
		display: grid;
		gap: 0;
		padding: 0 8vmin;
		grid-template-columns: repeat(7, 1fr);
		grid-auto-rows: var(--grid-size, 8vmin);
	}

	.stuby-and-fischer .project {
		height: var(--height, auto);
	}

	.stuby-and-fischer .intro {
		grid-template-rows: minmax(min-content, max-content);
	}

	.stuby-and-fischer .intro-content {
		padding: 8vmin 8vmin 8vmin 0;
		grid-column: 1 / span 4;
	}

	.stuby-and-fischer .project-image {
		aspect-ratio: unset;
		margin: 0;
		padding: 0 !important;
	}
}

.stuby-and-fischer .project-text {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.stuby-and-fischer .floating-form {
	position: absolute;
	right: 0;
	top: 0;
	translate: 0 -50%;
}

@media screen and (max-width: 426px) {
	.stuby-and-fischer .floating-form {
		translate: 50% -50%;
	}
}

.stuby-and-fischer .preview-grid {
	position: absolute;
	inset: 0 8vmin;
	width: calc(100% - 16vmin);
	height: 100%;
	pointer-events: none;
}

@media screen and (max-width: 740px) {
	.stuby-and-fischer .preview-grid {
		display: none;
	}
}

.stuby-and-fischer .preview-grid-col,
.stuby-and-fischer .preview-grid-row {
	position: absolute;
	background: rgba(255, 0, 0, 0.3);
}

.stuby-and-fischer .preview-grid-col > span,
.stuby-and-fischer .preview-grid-row > span {
	padding: 3px 5px;
	border-radius: 2px;
	background: red;
	color: white;
	font-weight: bold;
	display: inline-block;
	transform: translate(-50%, -50%);
	position: relative;
	z-index: 1;
}

.stuby-and-fischer .preview-grid-col {
	top: 0;
	left: var(--offset, 0);
	width: 1px;
	height: 100%;
}

.stuby-and-fischer .preview-grid-row {
	top: var(--offset, 0);
	left: 0;
	width: 100%;
	height: 1px;
}

.stuby-and-fischer .preview-grid-row:first-child {
	background: red;
	height: 2px;
}

/* odd projects have blue as color */
.stuby-and-fischer .project:nth-child(odd) .preview-grid-col,
.stuby-and-fischer .project:nth-child(odd) .preview-grid-row {
	background: rgba(0, 0, 255, 0.3);
}

.stuby-and-fischer .project:nth-child(odd) .preview-grid-row:first-child {
	background: blue;
	height: 2px;
}

.stuby-and-fischer .project:nth-child(odd) .preview-grid-col > span,
.stuby-and-fischer .project:nth-child(odd) .preview-grid-row > span {
	background: blue;
}
