.stuby-and-fischer {
	.content {
		overflow: hidden;
	}

	.intro {
		display: grid;
		grid-template-columns: 1fr;
	}

	.intro-picture {
		order: -1;
		position: relative;
	}

	.intro-picture > img {
		width: auto;
		height: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		aspect-ratio: 3 / 2;
	}

	.intro-content {
		padding: 10%;
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}

	.intro-button-container {
		display: flex;
		gap: 16px;
	}

	.intro-text,
	.intro-text > .frontmatter-markdown {
		display: flex;
		flex-direction: column;
		gap: 14px;
		font-size: 16px;
	}

	@media screen and (min-width: 740px) {
		.intro {
			grid-template-columns: 3fr 2fr;
		}
		.intro-picture {
			order: 1;
		}
	}

	@media screen and (min-width: 960px) {
		.intro {
			grid-template-columns: 1fr 1fr;
		}
	}

	@media screen and (min-width: 1280px) {
		.intro {
			grid-template-columns: 5fr 4fr;
		}
	}

	.project {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}

	@media screen and (min-width: 740px) {
		.project {
			display: grid;
			gap: 0;
			padding: 0 10%;
			grid-template-columns: repeat(7, 1fr);
			grid-auto-rows: min(calc((1220px - 20%) / 7), calc(80vw / 7));
		}
	}

	.project-text {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}
}
